a {
    text-decoration: none;
    color: #
}

header {
    background: ;
}

body {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 3.2vw;
}

h1 {
    font-size: 50px;
    color: #282828;
}

h2 {
    color: #282828;
}

nav {
}

nav a, nav a:visited, nav li {
    color: #4A4A4A;
    text-decoration: none;
    list-style: none;
}

#wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 1% 5%;
    background: orange;
}

#hero{
    max-width: 100%;
    padding: 1% 5%;
    text-align: center;
    margin: 0 auto;
}
