/*******************************************************************
GENERAL
*******************************************************************/
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0% 5%;
}

a {
    text-decoration: none;
}



/*******************************************************************
HEADING
*******************************************************************/
#logo {
    text-align: center;
    margin: 0;
}



/*******************************************************************
COLORS
*******************************************************************/
body {
    color: #444;
    background: #eee;
    font-family: Roboto;
    font-size: 3.2vw;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #4A4A4A;
}
nav {
    background: #a1a2a3;
}

nav a:visited {
    color: #4A4A4A ;
}

nav a.selected {
    text-decoration: underline;
}

nav a:hover {
    color: #fff;
}
