a {
    text-transform: none;
    color: #
}

header {
    background: ;
}


#wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 1% 5%;
    background: orange;
}

#hero{
    max-width: 100%;
    height: 100vh;
    padding: 1% 5%;
    text-align: center;
    background-image: url("../img/heroSplashHeader.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1024px 525px;
    margin: 0 auto;
}
